<section class="contact-us section-gap">
    <div class="container">
      <div class="sec-title">
        <h2>{{'titles.contact_us' | translate}}</h2>

        <p>
          {{'demo.lorem-10' | translate}}
        </p>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-4">
              <div class="card-contact">
                <div class="icon-box">
                  <i class="fas fa-envelope"></i> {{'demo.lorem' | translate}}
                </div>
                <div class="card-panel-body">
                  <a href="mailto:info@wahdabank.com.ly"
                    >info@wahdabank.com.ly</a
                  >
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-contact">
                <div class="icon-box">
                  <i class="fas fa-phone-alt"></i> {{'demo.lorem-2' | translate}}
                </div>
                <div class="card-panel-body">
                  <a href="tel:0123456789">0123456789</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card-contact">
                <div class="icon-box">
                  <i class="fas fa-map-marker-alt"></i> {{'demo.lorem' | translate}}
                </div>
                <div class="card-panel-body">
                  <p>526 Creekside Park Fairland, Indiana(IN), 46126</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>