<main>
  <section
    class="sec-page-title"
    style="background-image: url(assets/img/hero-slider-img-3.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title text-left">
            <h2>{{'nav.faq' | translate}}</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent p-0">
                <li class="breadcrumb-item">
                  <a class="text-light" routerLink="/">{{'nav.home' | translate}}</a>
                </li>
                <li class="breadcrumb-item active font-weight-bold text-white">
                  {{'nav.faq' | translate}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-faq-main bg-gray section-gap">
    <div class="container">
      <div id="accordion-1" class="accordion-custom border shadow-sm">
        <div class="card mb-3">
          <div class="card-header-main" id="heading-1-1">
            <h5 class="mb-0">
              <a
                class="collapsed"
                role="button"
                data-toggle="collapse"
                href="#collapse-1-1"
                aria-expanded="false"
                aria-controls="collapse-1-1"
              >
              {{'demo.lorem-2' | translate}}
              </a>
            </h5>
          </div>
          <div
            id="collapse-1-1"
            class="collapse"
            data-parent="#accordion-1"
            aria-labelledby="heading-1-1"
            style=""
          >
            <div class="card-body p-0">
              <div id="accordion-1-1" class="inner-accordion">
                <div class="card">
                  <div class="card-header-inner" id="heading-1-1-1">
                    <h5 class="mb-0">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        href="#collapse-1-1-1"
                        aria-expanded="false"
                        aria-controls="collapse-1-1-1"
                      >
                      {{'demo.lorem-3' | translate}}
                      </a>
                    </h5>
                  </div>
                  <div
                    id="collapse-1-1-1"
                    class="collapse"
                    data-parent="#accordion-1-1"
                    aria-labelledby="heading-1-1-1"
                  >
                    <div class="card-body">
                      {{'demo.lorem-20' | translate}}
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header-inner" id="heading-1-1-2">
                    <h5 class="mb-0">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        href="#collapse-1-1-2"
                        aria-expanded="false"
                        aria-controls="collapse-1-1-2"
                      >
                      {{'demo.lorem-10' | translate}}
                      </a>
                    </h5>
                  </div>
                  <div
                    id="collapse-1-1-2"
                    class="collapse"
                    data-parent="#accordion-1-1"
                    aria-labelledby="heading-1-1-2"
                  >
                    <div class="card-body">{{'demo.lorem-50' | translate}}</div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header-inner" id="heading-1-1-3">
                    <h5 class="mb-0">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        href="#collapse-1-1-3"
                        aria-expanded="false"
                        aria-controls="collapse-1-1-3"
                      >
                      {{'demo.lorem-20' | translate}}
                      </a>
                    </h5>
                  </div>
                  <div
                    id="collapse-1-1-3"
                    class="collapse"
                    data-parent="#accordion-1-1"
                    aria-labelledby="heading-1-1-3"
                  >
                    <div class="card-body">{{'demo.lorem-100' | translate}}</div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header-inner" id="heading-1-1-4">
                    <h5 class="mb-0">
                      <a
                        class="collapsed"
                        role="button"
                        data-toggle="collapse"
                        href="#collapse-1-1-4"
                        aria-expanded="false"
                        aria-controls="collapse-1-1-4"
                      >
                      {{'demo.lorem-2' | translate}}
                      </a>
                    </h5>
                  </div>
                  <div
                    id="collapse-1-1-4"
                    class="collapse"
                    data-parent="#accordion-1-1"
                    aria-labelledby="heading-1-1-4"
                  >
                  <div class="card-body">{{'demo.lorem-20' | translate}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
