<section class="follow-us section-gap bg-gray">
    <div class="container">
      <div class="sec-title text-center">
        <h2>{{'titles.follow_us' | translate}}</h2>
      </div>
      <ul class="d-flex align-items-center justify-content-center social-links">
        <li class="link-facebook">
          <a href="https://www.facebook.com/alwahdabank" target="_blank">
            <span><i class="fab fa-facebook-f"></i></span> Facebook</a
          >
        </li>
        <li class="link-youtube" target="_blank">
          <a href="https://www.youtube.com/channel/UCX7pkcBkTXh0BjMW2U_xGkA">
            <span><i class="fab fa-youtube"></i></span>
            Youtube</a
          >
        </li>
        <li class="link-twitter" target="_blank">
          <a href="">
            <span><i class="fab fa-twitter"></i></span>
            Twitter</a
          >
        </li>
        <li class="link-linkedIn" target="_blank">
          <a href="">
            <span><i class="fab fa-linkedin"></i> </span>
            LinkedIn</a
          >
        </li>
      </ul>
    </div>
  </section>