<footer class="footer">
    <div class="footer-top section-gap">
      <div class="container">
        <div class="row">
          <div class="col-md-3 colm-1">
            <div class="footer-widget">
              <div class="footer-logo">
                <img src="assets/img/footer-logo.png" alt="" />
                <button
                  class="button-fix"
                  type="button"
                  data-toggle="modal"
                  data-target="#exampleModalCenter"
                >
                  <img src="assets/img/ic-papers.svg" alt="" />
                </button>
              </div>
              <p>
                {{"demo.lorem-20" | translate}}
              </p>
            </div>
          </div>
          <div class="col-md-3 colm-2">
            <div class="footer-widget offset-xl-2">
              <h2>{{"titles.useful_links" | translate}}</h2>
              <ul class="footer-link">
                <li>
                  <a routerLink="/about"
                    >{{"nav.about_us" | translate}}
                  </a>
                </li>
                <li>
                  <a routerLink="/faqs"
                    >{{"nav.faq" | translate}}
                  </a>
                </li>
                <li>
                  <a routerLink="/contact"
                    >{{"nav.contact_us" | translate}}
                  </a>
                </li>
                <li>
                  <a routerLink="/terms-and-conditions"
                    >{{"nav.terms_and_condition" | translate}}
                  </a>
                </li>
                <li>
                  <a routerLink="/privacy-policy"
                    >{{"nav.privacy_policy" | translate}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 colm-3">
            <div class="footer-widget">
              <h2>{{"titles.contact_us" | translate}}</h2>
              <ul class="footer-contact">
                <li><i class="fas fa-phone-alt"></i> <span>0123456789</span></li>
                <li>
                  <i class="fas fa-envelope"></i
                  ><a href="mailto:info@wahdabank.com.ly"
                    >info@wahdabank.com.ly</a
                  >
                </li>
                <li>
                  <i class="fas fa-map-marker-alt"></i>
                  <span>{{"demo.lorem-10" | translate}}</span
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 colm-4">
            <div class="footer-widget">
              <h2>{{"titles.news_and_updates" | translate}}</h2>
              <div class="post-inner position-relative">
                <div class="d-flex">
                  <div class="postimg">
                    <img src="assets/img/blogs-img-1.jpg" alt="" />
                  </div>
                  <div class="post-content">
                    {{"demo.lorem-10" | translate}}
                  </div>
                </div>
                <a
                  routerLink=""
                  class="link-ab"
                ></a>
              </div>
              <div class="post-inner position-relative">
                <div class="d-flex">
                  <div class="postimg">
                    <img src="assets/img/blogs-img-2.jpg" alt="" />
                  </div>
                  <div class="post-content">
                    {{"demo.lorem-10" | translate}}
                  </div>
                </div>
                <a
                  routerLink=""
                  class="link-ab"
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="copyright-text">
              <span>© Wahda 2022. All Rights Reserved.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="footer-right">
              <ul class="footer-media mb-0">
                <li>
                  <a routerLink=""
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a routerLink=""
                    ><i class="fab fa-twitter"></i
                  ></a>
                </li>
                <li>
                  <a routerLink=""
                    ><i class="fab fa-youtube"></i
                  ></a>
                </li>
                <li>
                  <a routerLink=""
                    ><i class="fab fa-linkedin"></i
                  ></a>
                </li>
                <li class="d-inline">
                  <a href="https://play.google.com/store/apps/details?id=mitt.WBank" target="_blank">
                    <img
                      src="assets/img/gplay.png"
                      class="img-fluid w-25"
                      alt="Get it on Google Play"
                      title="Get it on Google Play"
                    />
                  </a>
                </li>
                <li class="d-inline m-0">
                  <a href="https://apps.apple.com/us/app/wahda-mobile-alwhdt-mwbayl/id1168387292" target="_blank">
                    <img
                      src="assets/img/appstore.png"
                      class="img-fluid w-25"
                      alt="Download on the App Store"
                      title="Download on the App Store"
                    />
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>