a {
    text-decoration: none;
}

.navbar-dropdown-menu{
    top: 40px !important;
    border-radius: 0;

    &:after {
        content: '';
        position: absolute;
        top: -12px;
        left: 10px;
        width: 0;
        height: 0;
        // border-left: 10px solid transparent;
        // border-right: 10px solid transparent;
        // border-bottom: 13px solid #ffffff; 
    }

    .triangle-top {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid black;
        position: relative;
        margin-top: -25px;
        
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid white;
            position: absolute;
            top: 1px;
            left: -8px;
      }}

    a {
        color: black;
        font-size: initial !important;
        padding: 0.5rem 0.75rem !important;

        
        &:before {
            height: 0;
        }
    }
}