<section class="wrapper">
    <div class="d-flexd">
      <div class="navigation p-0">
        <div class="navigation-inner">
          <div class="sidebar-header">
            <h2>{{'demo.lorem-2' | translate}}</h2>
          </div>
          <ul class="slide-menu-nav">
            <li class="nav-item has-menu">
              <a href=""
                >{{'demo.lorem-3' | translate}}</a
              >
            
              <div class="submens">
                <ul class="">
                  <li>
                    <a routerLink="/services/1"
                      >{{'demo.lorem-2' | translate}}</a
                    >
                  </li>
                  <li>
                    <a routerLink="/services/2">
                      {{'demo.lorem-3' | translate}}
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a routerLink="/services/3"
                >{{'demo.lorem-3' | translate}}</a
              >

            </li>
            <li class="nav-item">
              <a routerLink="/services/4">
                {{'demo.lorem' | translate}}
              </a>

            </li>
            <li class="nav-item">
              <a routerLink="/services/5">
                {{'demo.lorem-3' | translate}}
              </a>

            </li>
            <li class="nav-item">
              <a routerLink="/services/6">
                {{'demo.lorem-2' | translate}}
              </a>

            </li>
            <li class="nav-item">
              <a routerLink="/services/7">
                {{'demo.lorem' | translate}}
              </a>

            </li>
            <li class="nav-item">
              <a routerLink="/services/8">
                {{'demo.lorem-3' | translate}}
              </a>

            </li>
            <li class="nav-item has-menu">
              <a routerLink="">
                {{'demo.lorem-2' | translate}}
              </a>
              <div class="submens">
                <ul>
                  <li>
                    <a routerLink="/services/9">
                      {{'demo.lorem' | translate}}
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="hero-banner p-0">
        <div class="owl-carousel owl-theme" dir="ltr">
          <div class="item">
            <img
                    src="assets/img/hero-slider-img-1.jpg"
                    alt=""
                  />
          </div>
          <div class="item">
            <img
                    src="assets/img/hero-slider-img-2.jpg"
                    alt=""
                  />
          </div>
          <div class="item">
            <img
                    src="assets/img/hero-slider-img-3.jpg"
                    alt=""
                  />
          </div>
        </div>
        <div class="banner-center">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="banner-text text-white">
                  <h1>
                    {{'demo.lorem-2' | translate}}
                    <br />
                    {{'demo.lorem-3' | translate}}
                  </h1>
                  <p>
                    {{'demo.lorem-50' | translate}}
                  </p>
                  <a
                    routerLink="/about"
                    class="btn-success btn-fill"
                  >
                    {{'buttons.learn_more' | translate}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>