<main>
  <section
    class="sec-page-title"
    style="background-image: url('assets/img/hero-slider-img-1.jpg')"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title text-center">
            <h2>Terms And Conditions</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="sec-terms-condition section-gap">
    <div class="container">
      <div class="page-inner-contant">
        <h3>Aenean rhoncus elit vel consectetur eleifend.</h3>
        <p>
          Maecenas id diam quis urna luctus mattis. Curabitur varius blandit
          dolor, semper rhoncus lectus suscipit eu. Curabitur volutpat ex quis
          dignissim hendrerit. Aenean dignissim dictum volutpat. Nunc eleifend
          sit amet nibh sed dignissim. Phasellus molestie volutpat odio ut
          scelerisque. Mauris lacinia hendrerit magna, ac commodo ligula rhoncus
          vel.
        </p>
        <p>
          Sed at rutrum sapien. In interdum dignissim ex, eu dictum nulla
          ullamcorper ut. Vestibulum ante ipsum primis in faucibus orci luctus
          et ultrices posuere cubilia curae; In hac habitasse platea dictumst.
          Pellentesque nec elit at lacus malesuada tristique. Proin et ipsum
          facilisis, sodales erat sit amet, lobortis neque. Nulla eu porttitor
          est, et semper arcu. Sed consequat id felis eu lacinia. Sed velit
          urna, ornare non sapien non, pharetra condimentum ipsum. Nullam
          posuere arcu sit amet felis pharetra finibus. Curabitur odio orci,
          bibendum eget purus non, pellentesque aliquet magna. Integer tempus
          varius lectus, id commodo libero. Aenean augue metus, fermentum eu
          tempus eget, fermentum quis mauris.
        </p>

        <h3>Sed nec enim a enim malesuada suscipit quis ut lorem.</h3>
        <p>
          Duis varius libero quis erat commodo auctor. Morbi imperdiet a nisi
          vel euismod. Integer condimentum elit ac auctor aliquam. Sed gravida
          turpis ante, vel faucibus diam aliquam et. Ut mattis viverra erat, ac
          tristique diam tristique id. Praesent non justo dolor. Aliquam sapien
          massa, consequat nec eros vel, scelerisque faucibus dui. Quisque
          malesuada accumsan tortor, a dictum dui pulvinar quis. Praesent vel
          arcu turpis. Donec et scelerisque dui. Aliquam non ullamcorper arcu,
          eget tristique odio. Morbi nulla nulla, pulvinar ut sapien eget,
          eleifend bibendum dui. Sed commodo sodales eros eu euismod. Etiam
          vitae urna id tortor vehicula sollicitudin. Cras mollis ligula at enim
          facilisis, sit amet iaculis dolor ultricies
        </p>

        <p>
          Sed vel vulputate mi. Maecenas fermentum, justo vel posuere pharetra,
          enim mauris sodales leo, ut fermentum sem arcu et velit. Pellentesque
          habitant morbi tristique senectus et netus et malesuada fames ac
          turpis egestas. Donec at luctus dui. Mauris commodo gravida urna. Duis
          lectus diam, aliquet ac dapibus et, pharetra sed dui. Curabitur
          dapibus ipsum ut augue dictum, ut laoreet erat auctor. Quisque eu
          pharetra libero, id ultricies dui. Aliquam vel nisi turpis. Duis non
          posuere mi, in mollis orci. Phasellus a sem molestie, posuere mi id,
          tincidunt ex. Morbi sed mi tincidunt, gravida dolor sed, dictum
          sapien.
        </p>

        <p>
          Maecenas id diam quis urna luctus mattis. Curabitur varius blandit
          dolor, semper rhoncus lectus suscipit eu. Curabitur volutpat ex quis
          dignissim hendrerit. Aenean dignissim dictum volutpat. Nunc eleifend
          sit amet nibh sed dignissim. Phasellus molestie volutpat odio ut
          scelerisque. Mauris lacinia hendrerit magna, ac commodo ligula rhoncus
          vel.
        </p>
      </div>
    </div>
  </section>
</main>
