<main>
  <section
    class="sec-page-title"
    style="background-image: url(assets/img/libya-earth.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title text-left">
            <h2>{{'nav.contact_us' | translate}}</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent p-0">
                <li class="breadcrumb-item">
                  <a class="text-light" routerLink="/">{{'nav.home' | translate}}</a>
                </li>
                <li class="breadcrumb-item active font-weight-bold text-white">
                  {{'nav.contact_us' | translate}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-contact-us section-gap bg-gray">
    <div class="container">
      <div class="sec-title text-center">
        <p>
          {{'demo.lorem-30' | translate}}
        </p>
      </div>

      <div class="row">
        <div class="col-xl-8">
          <div class="contact-address card-white h-100 bg-white">
            <div class="row">
              <div class="col-md-6 pr-md-0">
                <div class="contact-box border-right border-bottom">
                  <div class="mb-4">
                    <h6>
                      <img
                        src="assets/img/icon-drop.svg"
                        alt=""
                      />
                      {{'demo.lorem-2' | translate}}
                    </h6>
                  </div>
                  <ul class="list-unstyled">
                    <li>Gamal Abdalnasser Street</li>
                    <li>Al Fadiel Abu Omar Square</li>
                    <li>Al Berka - Benghazi - Libya</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 pl-md-0">
                <div class="contact-box border-bottom">
                  <div class="mb-4">
                    <h6>
                      <img
                        src="assets/img/icon-mail.svg"
                        alt=""
                      />
                      {{'demo.lorem-3' | translate}}
                    </h6>
                  </div>
                  <ul class="list-unstyled">
                    <li>wahda@wahdabank.com</li>
                    <li>Site administration</li>
                    <li>info@wahdabank.com</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 pr-md-0">
                <div class="contact-box border-right border-bottom">
                  <div class="mb-4">
                    <h6>
                      <img
                        src="assets/img/icon-post-box.svg"
                        alt=""
                      />
                      {{'demo.lorem-2' | translate}}
                    </h6>
                  </div>
                  <ul class="list-unstyled">
                    <li>452 Benghazi</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 pl-md-0">
                <div class="contact-box border-bottom">
                  <div class="mb-4">
                    <h6>
                      <img
                        src="assets/img/icon-phone.svg"
                        alt=""
                      />
                      {{'demo.lorem' | translate}}
                    </h6>
                  </div>
                  <ul class="list-unstyled">
                    <li>+218 61 2224256</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 pr-md-0">
                <div class="contact-box border-right">
                  <div class="mb-4">
                    <h6>
                      <img
                        src="assets/img/icon-fax.svg"
                        alt=""
                      />
                      Fax:
                    </h6>
                  </div>
                  <ul class="list-unstyled">
                    <li>+218 61 2224122</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 pl-md-0">
                <div class="contact-box">
                  <div class="mb-4">
                    <h6>
                      <img
                        src="assets/img/icon-university.svg"
                        alt=""
                      />
                      Swift:
                    </h6>
                  </div>
                  <ul class="list-unstyled">
                    <li>WAHBLYLXXXX</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="sec-map card-white h-100">
            <img src="assets/img/map-img.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-follow-us class="bg-white"></app-follow-us>
</main>
