<section class="sec-our-blog section-gap bg-gray">
  <div class="container">
    <div class="sec-title">
      <h2>{{ "titles.news_and_updates" | translate }}</h2>
    </div>
    <div class="row">
      <div class="w-100">
        <div class="owl-carousel owl-theme slider-blogs" dir="ltr">
          <div class="owl-item">
            <div class="item">
              <div class="blogs-card">
                <div class="inner-box">
                  <div class="blogs-image-box">
                    <img src="assets/img/blogs-img-2.jpg" alt="" />
                  </div>
                  <div class="lower-content">
                    <div class="content-date">20/10/2022</div>
                    <h3>{{ 'demo.lorem-10' | translate }}</h3>
                    <p>{{ 'demo.lorem-30' | translate }}</p>
                    <a routerLink="/news/1" class="link-learn-more">
                      {{ "buttons.learn_more" | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="item">
              <div class="blogs-card">
                <div class="inner-box">
                  <div class="blogs-image-box">
                    <img src="assets/img/blogs-img-1.jpg" alt="" />
                  </div>
                  <div class="lower-content">
                    <div class="content-date">20/10/2022</div>
                    <h3>{{ 'demo.lorem-10' | translate }}</h3>
                    <p>{{ 'demo.lorem-30' | translate }}</p>
                    <a routerLink="/news/1" class="link-learn-more">
                      {{ "buttons.learn_more" | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="item">
              <div class="blogs-card">
                <div class="inner-box">
                  <div class="blogs-image-box">
                    <img src="assets/img/blogs-img-2.jpg" alt="" />
                  </div>
                  <div class="lower-content">
                    <div class="content-date">20/10/2022</div>
                    <h3>{{ 'demo.lorem-10' | translate }}</h3>
                    <p>
                      <p>{{ 'demo.lorem-30' | translate }}</p>
                    <a routerLink="/news/2" class="link-learn-more">
                      {{ "buttons.learn_more" | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="owl-item">
            <div class="item">
              <div class="blogs-card">
                <div class="inner-box">
                  <div class="blogs-image-box">
                    <img src="assets/img/blogs-img-1.jpg" alt="" />
                  </div>
                  <div class="lower-content">
                    <div class="content-date">20/10/2022</div>
                    <h3>{{ 'demo.lorem-10' | translate }}</h3>
                    <p>{{ 'demo.lorem-30' | translate }}</p>
                    <a routerLink="/news/1" class="link-learn-more">
                      {{ "buttons.learn_more" | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</section>
