<section class="section-gap">
  <div class="container">
    <div class="sec-title">
      <h2>Mobile Services</h2>
    </div>
    <div class="row">
      <div class="w-100">
        <div
          class="owl-carousel owl-theme slider-our-apps" dir="ltr"
        >
          <div class="item">
            <div class="directors-card">
              <div class="directors-inner-box shadow-none py-0 mb-0">
                <div class="directors-image-box">
                  <img
                    src="assets/img/mobile/wahda-business.png"
                    alt="Wahda Bussiness"
                  />
                </div>
              </div>
              <div class="lower-content">
                <div class="container w-lg-75">
                    <div class="row">
                        <div class="col-6 pr-0">
                          <a href="https://play.google.com/store/apps/details?id=mitt.wahdaa3mal" target="_blank">
                            <img
                              src="assets/img/gplay.png"
                              class="img-fluid"
                              alt="Get it on Google Play"
                            />
                          </a>
                        </div>
                        <div class="col-6 pl-0">
                          <a href="https://apps.apple.com/us/app/alwahda-amal-%D8%A7%D9%84%D9%88%D8%AD%D8%AF%D8%A9-%D8%A3%D8%B9%D9%85%D8%A7%D9%84/id1461747258" target="_blank">
                            <img
                              src="assets/img/appstore.png"
                              class="img-fluid"
                              alt="Download on the App Store"
                              title="Download on the App Store"
                            />
                          </a>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="directors-card">
              <div class="directors-inner-box shadow-none py-0 mb-0">
                <div class="directors-image-box">
                  <img src="assets/img/mobile/mobicash.png" alt="Mobicash" />
                </div>
              </div>
              <div class="lower-content">
                <div class="container w-lg-75">
                    <div class="row">
                      <div class="col-6 pr-0">
                        <a href="https://play.google.com/store/apps/details?id=co.mitt.MobiCash" target="_blank">
                          <img
                            src="assets/img/gplay.png"
                            class="img-fluid"
                            alt="Get it on Google Play"
                            title="Get it on Google Play"
                          />
                        </a>
                      </div>
                      <div class="col-6 pl-0">
                        <a href="https://apps.apple.com/us/app/%D9%85%D9%88%D8%A8%D9%8A-%D9%83%D8%A7%D8%B4/id1463038544" target="_blank">
                          <img
                            src="assets/img/appstore.png"
                            class="img-fluid"
                            alt="Download on the App Store"
                            title="Download on the App Store"
                          />
                        </a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="directors-card">
              <div class="directors-inner-box shadow-none py-0 mb-0">
                <div class="directors-image-box">
                  <img
                    src="assets/img/mobile/wahda-mobile.png"
                    alt="Wahda Mobile"
                  />
                </div>
              </div>
              <div class="lower-content">
                  <div class="container w-lg-75">
                      <div class="row">
                        <div class="col-6 pr-0">
                          <a href="https://play.google.com/store/apps/details?id=mitt.WBank" target="_blank">
                            <img
                              src="assets/img/gplay.png"
                              class="img-fluid"
                              alt="Get it on Google Play"
                              title="Get it on Google Play"
                            />
                          </a>
                        </div>
                        <div class="col-6 pl-0">
                          <a href="https://apps.apple.com/us/app/wahda-mobile-alwhdt-mwbayl/id1168387292" target="_blank">
                            <img
                              src="assets/img/appstore.png"
                              class="img-fluid"
                              alt="Download on the App Store"
                              title="Download on the App Store"
                            />
                          </a>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
