<main>
  <section
    class="sec-page-title"
    style="background-image: url(assets/img/hero-slider-img-1.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title text-left">
            <h2>{{'demo.lorem-3' | translate}}</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent p-0">
                <li class="breadcrumb-item">
                  <a class="text-light" routerLink="/">{{'nav.home' | translate}}</a>
                </li>
                <li class="breadcrumb-item active font-weight-bold text-white">
                  {{'demo.lorem-3' | translate}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-gray">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              {{'demo.lorem-100' | translate}}
              <br><br>
              {{'demo.lorem-100' | translate}}
              {{'demo.lorem-100' | translate}}
              <br><br>
              {{'demo.lorem-100' | translate}}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-header bg-white border-0">
              <h5 class="font-weight-bold mb-0">{{'titles.categories' | translate}}</h5>
            </div>
            <div class="card-body p-0">
              <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">
                  <small class="fa fa-angle-right pr-2"></small>
                  {{'demo.lorem-2' | translate}}
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <small class="fa fa-angle-right pr-2"></small>
                  {{'demo.lorem' | translate}}
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <small class="fa fa-angle-right pr-2"></small>
                  {{'demo.lorem-2' | translate}}
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <small class="fa fa-angle-right pr-2"></small>
                  {{'demo.lorem-3' | translate}}
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <small class="fa fa-angle-right pr-2"></small>
                  {{'demo.lorem-2' | translate}}
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <small class="fa fa-angle-right pr-2"></small>
                  {{'demo.lorem' | translate}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
