<section class="exchange-rates section-gap">
    <div class="container">
      <div class="sec-title text-white">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h2 class="mb-0">{{'titles.exchange_rates' | translate}}</h2>
            <p class="text-white"><small>{{'titles.exchange_rates_for_the_day' | translate}} (28-10-2022)</small></p>
          </div>
          <!-- <div class="col-md-6 text-right">
            <a
              href="#"
              class="btn-success ml-auto"
            >
              Other currencies
            </a>
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-exchange-rates">
            <div class="card-exchange-inner d-flex">
              <div class="exchange-country">
                <span>
                  <img src="assets/img/sterling-pound.jpg" />
                </span>
                <p>Sterling Pound</p>
              </div>
              <div class="feature-content">
                <div class="widget-box">
                  <p><b>{{'titles.purchase' | translate}}</b></p>
                  <p>6.2391 LYD</p>
                </div>
                <div class="dropdown-divider"></div>
                <div class="widget-box">
                  <p><b>{{'titles.sale' | translate}}</b></p>
                  <p>6.2704 LYD</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-exchange-rates">
            <div class="card-exchange-inner d-flex">
              <div class="exchange-country">
                <span>
                  <img src="assets/img/euro.jpg" />
                </span>
                <p>Euro</p>
              </div>
              <div class="feature-content">
                <div class="widget-box">
                  <p><b>{{'titles.sale' | translate}}</b></p>
                  <p>5.2663 LYD</p>
                </div>
                <div class="dropdown-divider"></div>
                <div class="widget-box">
                  <p><b>{{'titles.sale' | translate}}</b></p>
                  <p>5.2927 LYD</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-exchange-rates">
            <div class="card-exchange-inner d-flex">
              <div class="exchange-country">
                <span>
                  <img src="assets/img/us-dollar.jpg" />
                </span>
                <p>U.S. Dollar</p>
              </div>
              <div class="feature-content">
                <div class="widget-box">
                  <p><b>{{'titles.sale' | translate}}</b></p>
                  <p>4.5395 LYD</p>
                </div>
                <div class="dropdown-divider"></div>
                <div class="widget-box">
                  <p><b>{{'titles.sale' | translate}}</b></p>
                  <p>4.5623 LYD</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>