<main>
  <section
    class="sec-page-title"
    style="background-image: url(assets/img/blogs-img-2.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title text-left">
            <h2>{{'nav.about_us' | translate}}</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-transparent p-0">
                <li class="breadcrumb-item"><a class="text-light" routerLink="/">{{'nav.home' | translate}}</a></li>
                <li class="breadcrumb-item active font-weight-bold text-white">{{'nav.about_us' | translate}}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-our-services sec-about section-gap bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="image-box">
            <img src="assets/img/about-img.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-8">
          <div class="content-box">
            <h2>
              {{'demo.lorem-10' | translate}}
            </h2>
            <p>
              {{'demo.lorem-100' | translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sec-board-of-birectors section-gap">
    <div class="container">
      <div class="sec-title">
        <h2>{{'titles.board_of_directors' | translate}}</h2>
      </div>
      <div class="row">
        <div class="w-100">
          <div
            class="owl-carousel owl-theme slider-board-directors owl-loaded owl-drag" dir="ltr"
          >
                <div class="item">
                    <div class="directors-card">
                    <div class="directors-inner-box">
                        <div class="directors-image-box">
                        <img
                            src="assets/img/img-board-of-directors.jpg"
                            alt=""
                        />
                        </div>
                    </div>
                    <div class="lower-content">
                        <h2>Mr. Ahmed Rashed Abdelaziz</h2>
                        <p>Member of the Board of Directors</p>
                    </div>
                    </div>
                </div>
                <div class="item">
                    <div class="directors-card">
                      <div class="directors-inner-box">
                        <div class="directors-image-box">
                          <img
                            src="assets/img/img-board-of-directors.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="lower-content">
                        <h2>Mr. Wanis Mohamed Rageb</h2>
                        <p>Member of the Board of Directors</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="directors-card">
                      <div class="directors-inner-box">
                        <div class="directors-image-box">
                          <img
                            src="assets/img/img-board-of-directors.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="lower-content">
                        <h2>Mr. Abdalmonam Mohamed Assari</h2>
                        <p>Member of the Board of Directors</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="directors-card">
                      <div class="directors-inner-box">
                        <div class="directors-image-box">
                          <img
                            src="assets/img/img-board-of-directors.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="lower-content">
                        <h2>Mr. Abdelkarim Mohamed Alshahati</h2>
                        <p>Chairman of the Board of Directors</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="directors-card">
                      <div class="directors-inner-box">
                        <div class="directors-image-box">
                          <img
                            src="assets/img/img-board-of-directors.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="lower-content">
                        <h2>Mr. Abdelkarim Mohamed Alshahati</h2>
                        <p>Chairman of the Board of Directors</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="directors-card">
                      <div class="directors-inner-box">
                        <div class="directors-image-box">
                          <img
                            src="assets/img/img-board-of-directors.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="lower-content">
                        <h2>Mr. Ahmed Rashed Abdelaziz</h2>
                        <p>Member of the Board of Directors</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="directors-card">
                      <div class="directors-inner-box">
                        <div class="directors-image-box">
                          <img
                            src="assets/img/img-board-of-directors.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="lower-content">
                        <h2>Mr. Wanis Mohamed Rageb</h2>
                        <p>Member of the Board of Directors</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="directors-card">
                      <div class="directors-inner-box">
                        <div class="directors-image-box">
                          <img
                            src="assets/img/img-board-of-directors.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="lower-content">
                        <h2>Mr. Abdalmonam Mohamed Assari</h2>
                        <p>Member of the Board of Directors</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="directors-card">
                      <div class="directors-inner-box">
                        <div class="directors-image-box">
                          <img
                            src="assets/img/img-board-of-directors.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="lower-content">
                        <h2>Mr. Abdelkarim Mohamed Alshahati</h2>
                        <p>Chairman of the Board of Directors</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="directors-card">
                      <div class="directors-inner-box">
                        <div class="directors-image-box">
                          <img
                            src="assets/img/img-board-of-directors.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="lower-content">
                        <h2>Mr. Abdelkarim Mohamed Alshahati</h2>
                        <p>Chairman of the Board of Directors</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="directors-card">
                      <div class="directors-inner-box">
                        <div class="directors-image-box">
                          <img
                            src="assets/img/img-board-of-directors.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="lower-content">
                        <h2>Mr. Ahmed Rashed Abdelaziz</h2>
                        <p>Member of the Board of Directors</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="directors-card">
                      <div class="directors-inner-box">
                        <div class="directors-image-box">
                          <img
                            src="assets/img/img-board-of-directors.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="lower-content">
                        <h2>Mr. Wanis Mohamed Rageb</h2>
                        <p>Member of the Board of Directors</p>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="directors-card">
                      <div class="directors-inner-box">
                        <div class="directors-image-box">
                          <img
                            src="assets/img/img-board-of-directors.jpg"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="lower-content">
                        <h2>Mr. Abdalmonam Mohamed Assari</h2>
                        <p>Member of the Board of Directors</p>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
  </section>

  <section class="sec-why-people-choose section-gap">
    <div class="container">
      <div class="row">
        <div class="col-md-4 order-md-2">
          <div class="image-box">
            <img src="assets/img/img-choose-us.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-8">
          <div class="content-box text-white">
            <h2>{{'demo.lorem-3' | translate}}</h2>
            <p>
              {{'demo.lorem-100' | translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-contact-section></app-contact-section>
  <app-follow-us></app-follow-us>
  <app-exchange-rate></app-exchange-rate>
</main>
