<section class="sec-our-services section-gap bg-gray services-tabs">
    <div class="container">
      <div class="sec-title">
        <h2>{{'demo.lorem-3' | translate}}</h2>
      </div>
      <div class="services-widget">
        <ul
          id="tabs"
          class="nav nav-tabs services-list align-items-center flex-wrap justify-content-xl-between"
          role="tablist"
        >
          <li class="nav-item">
            <a
              id="tab-A"
              href="#pane-A"
              class="active"
              data-toggle="tab"
              role="tab"
              >
              {{'demo.lorem-2' | translate}}
              </a
            >
          </li>
          <li class="nav-item">
            <a
              id="tab-B"
              href="#pane-B"
              data-toggle="tab"
              role="tab"
              >
              {{'demo.lorem' | translate}}
              </a>
          </li>
          <li class="nav-item">
            <a
              id="tab-C"
              href="#pane-C"
              data-toggle="tab"
              role="tab"
              >
              {{'demo.lorem-2' | translate}}
            </a>
          </li>

          <li class="nav-item">
            <a
              id="tab-D"
              href="#pane-D"
              data-toggle="tab"
              role="tab"
              >{{'demo.lorem-3' | translate}}
            </a>
          </li>

          <li class="nav-item">
            <a
              id="tab-E"
              href="#pane-E"
              data-toggle="tab"
              role="tab"
              >{{'demo.lorem' | translate}}</a
            >
          </li>

          <li class="nav-item">
            <a
              id="tab-F"
              href="#pane-F"
              data-toggle="tab"
              role="tab"
              >{{'demo.lorem-2' | translate}}
            </a>
          </li>

          <li class="nav-item">
            <a
              id="tab-G"
              href="#pane-G"
              data-toggle="tab"
              role="tab"
              >{{'demo.lorem-3' | translate}}
            </a>
          </li>

          <li class="nav-item">
            <a
              id="tab-H"
              href="#pane-H"
              data-toggle="tab"
              role="tab"
              >{{'demo.lorem-2' | translate}}</a
            >
          </li>
        </ul>
      </div>
      <div id="content-1" class="tab-content" role="tablist">
        <div
          id="pane-A"
          class="card tab-pane fade show active"
          role="tabpanel"
          aria-labelledby="tab-A"
        >
          <div class="card-header" role="tab" id="heading-A">
            <h5 class="mb-0">
              <!-- Note: `data-parent` removed from here -->
              <a
                data-toggle="collapse"
                href="#collapse-A"
                aria-expanded="true"
                aria-controls="collapse-A"
              >
              {{'demo.lorem-3' | translate}}
              </a>
            </h5>
          </div>

          <!-- Note: New place of `data-parent` -->
          <div
            id="collapse-A"
            class="collapse show"
            data-parent="#content-1"
            role="tabpanel"
            aria-labelledby="heading-A"
          >
            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-4">
                  <div class="image-box">
                    <img src="assets/img/about-1.jpg" alt="" />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="content-box">
                    <h2>
                      1. {{'demo.lorem-10' | translate}}
                    </h2>
                    <p>
                      {{'demo.lorem-70' | translate}}
                    </p>
                    <a
                      routerLink="/services/1"
                      class="btn-success btn-fill text-uppercase"
                    >
                    {{'buttons.learn_more' | translate}}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          id="pane-B"
          class="card tab-pane fade"
          role="tabpanel"
          aria-labelledby="tab-B"
        >
          <div class="card-header" role="tab" id="heading-B">
            <h5 class="mb-0">
              <a
                class="collapsed"
                data-toggle="collapse"
                href="#collapse-B"
                aria-expanded="fase"
                aria-controls="collapse-B"
              >
              {{'demo.lorem-3' | translate}}
              </a>
            </h5>
          </div>
          <div
            id="collapse-B"
            class="collapse"
            data-parent="#content-1"
            role="tabpanel"
            aria-labelledby="heading-B"
          >
            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-4">
                  <div class="image-box">
                    <img src="assets/img/blogs-img-2.jpg" alt="" />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="content-box">
                    <h2>
                      2. {{'demo.lorem-3' | translate}}
                    </h2>
                    <p>
                      {{'demo.lorem-100' | translate}}

                    </p>
                    <a
                      routerLink="/services/1"
                      class="btn-success btn-fill text-uppercase"
                    >
                      {{'buttons.learn_more' | translate}}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          id="pane-C"
          class="card tab-pane fade"
          role="tabpanel"
          aria-labelledby="tab-C"
        >
          <div class="card-header" role="tab" id="heading-C">
            <h5 class="mb-0">
              <a
                class="collapsed"
                data-toggle="collapse"
                href="#collapse-C"
                aria-expanded="fase"
                aria-controls="collapse-C"
              >
              {{'demo.lorem' | translate}}
              </a>
            </h5>
          </div>
          <div
            id="collapse-C"
            class="collapse"
            role="tabpanel"
            data-parent="#content-1"
            aria-labelledby="heading-C"
          >
            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-4">
                  <div class="image-box">
                    <img src="assets/img/about-1.jpg" alt="" />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="content-box">
                    <h2>
                      3. {{'demo.lorem-20' | translate}}
                    </h2>
                    <p>
                      {{'demo.lorem-50' | translate}}

                    </p>
                    <a
                      routerLink="/services/1"
                      class="btn-success btn-fill text-uppercase"
                    >
                      {{'buttons.learn_more' | translate}}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          id="pane-D"
          class="card tab-pane fade"
          role="tabpanel"
          aria-labelledby="tab-D"
        >
          <div class="card-header" role="tab" id="heading-D">
            <h5 class="mb-0">
              <a
                class="collapsed"
                data-toggle="collapse"
                href="#collapse-D"
                aria-expanded="fase"
                aria-controls="collapse-D"
              >
              {{'demo.lorem-3' | translate}}
              </a>
            </h5>
          </div>
          <div
            id="collapse-D"
            class="collapse"
            role="tabpanel"
            data-parent="#content-1"
            aria-labelledby="heading-C"
          >
            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-4">
                  <div class="image-box">
                    <img src="assets/img/blogs-img-1.jpg" alt="" />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="content-box">
                    <h2>
                      4. {{'demo.lorem-3' | translate}}
                    </h2>
                    <p>
                      {{'demo.lorem-50' | translate}}

                    </p>
                    <a
                      routerLink="/services/1"
                      class="btn-success btn-fill text-uppercase"
                    >
                      {{'buttons.learn_more' | translate}}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          id="pane-E"
          class="card tab-pane fade"
          role="tabpanel"
          aria-labelledby="tab-E"
        >
          <div class="card-header" role="tab" id="heading-E">
            <h5 class="mb-0">
              <a
                class="collapsed"
                data-toggle="collapse"
                href="#collapse-E"
                aria-expanded="fase"
                aria-controls="collapse-E"
              >
              {{'demo.lorem-2' | translate}}
              </a>
            </h5>
          </div>
          <div
            id="collapse-E"
            class="collapse"
            role="tabpanel"
            data-parent="#content-1"
            aria-labelledby="heading-E"
          >
            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-4">
                  <div class="image-box">
                    <img src="assets/img/about-1.jpg" alt="" />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="content-box">
                    <h2>
                      5. {{'demo.lorem' | translate}}
                    </h2>
                    <p>
                      {{'demo.lorem-70' | translate}}

                    </p>
                    <a
                      routerLink="/services/1"
                      class="btn-success btn-fill text-uppercase"
                    >
                      {{'buttons.learn_more' | translate}}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          id="pane-F"
          class="card tab-pane fade"
          role="tabpanel"
          aria-labelledby="tab-F"
        >
          <div class="card-header" role="tab" id="heading-F">
            <h5 class="mb-0">
              <a
                class="collapsed"
                data-toggle="collapse"
                href="#collapse-F"
                aria-expanded="fase"
                aria-controls="collapse-F"
              >
              {{'demo.lorem' | translate}}
              </a>
            </h5>
          </div>
          <div
            id="collapse-F"
            class="collapse"
            role="tabpanel"
            data-parent="#content-1"
            aria-labelledby="heading-F"
          >
            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-4">
                  <div class="image-box">
                    <img src="assets/img/about-3.jpg" alt="" />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="content-box">
                    <h2>
                      6. {{'demo.lorem-3' | translate}}
                    </h2>
                    <p>
                      {{'demo.lorem-30' | translate}}
                    </p>
                    <a
                      routerLink="/services/1"
                      class="btn-success btn-fill text-uppercase"
                    >
                      {{'buttons.learn_more' | translate}}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          id="pane-G"
          class="card tab-pane fade"
          role="tabpanel"
          aria-labelledby="tab-G"
        >
          <div class="card-header" role="tab" id="heading-G">
            <h5 class="mb-0">
              <a
                class="collapsed"
                data-toggle="collapse"
                href="#collapse-G"
                aria-expanded="fase"
                aria-controls="collapse-G"
              >
              {{'demo.lorem-3' | translate}}
              </a>
            </h5>
          </div>
          <div
            id="collapse-G"
            class="collapse"
            role="tabpanel"
            data-parent="#content-1"
            aria-labelledby="heading-G"
          >
            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-4">
                  <div class="image-box">
                    <img src="assets/img/blogs-img-2.jpg" alt="" />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="content-box">
                    <h2>
                      7. {{'demo.lorem-10' | translate}}
                    </h2>
                    <p>
                      {{'demo.lorem-90' | translate}}
                    </p>
                    <a
                      routerLink="/services/1"
                      class="btn-success btn-fill text-uppercase"
                    >
                      {{'buttons.learn_more' | translate}}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          id="pane-H"
          class="card tab-pane fade"
          role="tabpanel"
          aria-labelledby="tab-H"
        >
          <div class="card-header" role="tab" id="heading-H">
            <h5 class="mb-0">
              <a
                class="collapsed"
                data-toggle="collapse"
                href="#collapse-H"
                aria-expanded="fase"
                aria-controls="collapse-H"
              >
              {{'demo.lorem-2' | translate}}
              </a>
            </h5>
          </div>
          <div
            id="collapse-H"
            class="collapse"
            role="tabpanel"
            data-parent="#content-1"
            aria-labelledby="heading-H"
          >
            <div class="card-body p-0">
              <div class="row">
                <div class="col-md-4">
                  <div class="image-box">
                    <img src="assets/img/about-img.jpg" alt="" />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="content-box">
                    <h2>
                      8. {{'demo.lorem-10' | translate}}
                    </h2>
                    <p>
                      {{'demo.lorem-100' | translate}}
                    </p>
                    <a
                      routerLink="/services/1"
                      class="btn-success btn-fill text-uppercase"
                    >
                      {{'buttons.learn_more' | translate}}</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>