<!-- Button trigger modal -->
<!-- Modal -->
<div
  class="modal fade modal-right"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="complaint-form">
        <h3>{{'titles.complaint_box' | translate}}</h3>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true"><i class="fa fa-times"></i></span>
        </button>
        <div class="contact-form-wrap">
          <form>
            <div class="row row-row">
              <div class="form-group col-md-6">
                <div class="dropdown bootstrap-select select-custom">
                  <select
                    class="selectpicker select-custom"
                    title="Choose"
                    tabindex="-98"
                  >
                    <option class="bs-title-option" value=""></option>
                    <option>Choose</option>
                    <option>Choose</option></select
                  ><button
                    type="button"
                    class="btn dropdown-toggle btn-light bs-placeholder"
                    data-toggle="dropdown"
                    role="combobox"
                    aria-owns="bs-select-2"
                    aria-haspopup="listbox"
                    aria-expanded="fase"
                    title="Choose"
                  >
                    <div class="filter-option">
                      <div class="filter-option-inner">
                        <div class="filter-option-inner-inner">Choose</div>
                      </div>
                    </div>
                  </button>
                  <div class="dropdown-menu">
                    <div
                      class="inner show"
                      role="listbox"
                      id="bs-select-2"
                      tabindex="-1"
                    >
                      <ul
                        class="dropdown-menu inner show"
                        role="presentation"
                      ></ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <div class="dropdown bootstrap-select select-custom">
                  <select
                    class="selectpicker select-custom"
                    title="Choose"
                    tabindex="-98"
                  >
                    <option class="bs-title-option" value=""></option>
                    <option>Choose</option>
                    <option>Choose</option></select
                  ><button
                    type="button"
                    class="btn dropdown-toggle btn-light bs-placeholder"
                    data-toggle="dropdown"
                    role="combobox"
                    aria-owns="bs-select-3"
                    aria-haspopup="listbox"
                    aria-expanded="fase"
                    title="Choose"
                  >
                    <div class="filter-option">
                      <div class="filter-option-inner">
                        <div class="filter-option-inner-inner">Choose</div>
                      </div>
                    </div>
                  </button>
                  <div class="dropdown-menu">
                    <div
                      class="inner show"
                      role="listbox"
                      id="bs-select-3"
                      tabindex="-1"
                    >
                      <ul
                        class="dropdown-menu inner show"
                        role="presentation"
                      ></ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="First Name"
                />
              </div>
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Family Name"
                />
              </div>
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Phone Number"
                />
              </div>
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email Address"
                />
              </div>
              <div class="form-group col-12">
                <textarea
                  class="form-control"
                  placeholder="Write Notes"
                ></textarea>
              </div>

              <div class="form-group m-0 col-12 text-center">
                <button class="btn-success">{{'buttons.send' | translate}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>